
{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block header %}
    <h1>Contacto</h1>
    <span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
  <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Puedes contactarte conmigo a travez de la red social  <a href="https://www.facebook.com/Edward3196">Facebook</a> </p>
          <br>
          <p><b>Teléfono:</b> 0983008840</p>
          <p><b>Honorarios:</b> 10:00 AM - 07:00 PM</p>
        </div>
      </div>
    </div>
{% endblock %}